@model Warehouse.Models.RemittanceStuff

@{
    ViewData["Title"] = "حذف تجهیز";
}

<h3>آیا اطمینان در حذف دارید?</h3>
<div>
    <h4>حذف تجهیز از حواله انبار</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            کد حواله انبار
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remittance.Code)
        </dd class>
        <dt class = "col-sm-2">
            تجهیز
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Name)
        </dd class>
        <dt class = "col-sm-2">
            تعداد
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
