@model Warehouse.Models.RemittanceStuff

@{
    ViewData["Title"] = "جزئیات";
}

<div>
    <h4>جزئیات تجهیز حواله انبار</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            کد حواله انبار
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remittance.Code)
        </dd>
        <dt class = "col-sm-2">
            تجهیز
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stuff.Name)
        </dd>
        <dt class = "col-sm-2">
            تعداد
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
